 
      /*css should deploy*/        
.calcite .share-dialog-icon {
            font-size: 32px;
            line-height: 32px;
            float: left;
            color: #007ac2;
            cursor: pointer;
            margin: 0 10px 0 0;
            text-decoration: none;
            display: block;
        }
.calcite .share-dialog-textarea {
            width: auto;
            max-width: 90%;
            width: 75%;
            height: 75px;
            font-size: 14px;
            color: #777;
            border: 1px solid #dcdcdc;
            margin: 0 0 20px;
        }